        @model Core.ViewModels.ApplicationUserViewModel
        @{
            ViewData["Title"] = "Register";
        }

    <style>
        .input-group-append {
            cursor: pointer;
        }

        .input-group-text {
            background: none;
            border: none;
        }

        .fa-eye, .fa-eye-slash {
            color: #007bff;
        }
    </style>

    <div class="container">
        <div class="text-danger" id="validationSummary"></div>
        <div id="registerForm" class="mb-5">
            <div>
                <h2 class="text-center text-secondary mb-3"><b>Registration</b></h2>
            </div>
            <div class="container card-body form-group w-50" style="background-color: #D29737">
                <div class="row">
                    <div class="col-6">
                        <label><b>First Name</b></label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName" />
                        <span class="text-danger" id="FirstNameError"></span>
                    </div>
                    <div class="col-6">
                        <label><b>Last Name</b></label>
                        <input type="text" class="form-control" id="LastName" name="LastName" />
                        <span class="text-danger" id="LastNameError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label><b>Gender</b></label>
                        <input type="text" class="form-control" id="Gender" name="Gender" />
                        <span class="text-danger" id="GenderError"></span>
                    </div>
                    <div class="col-6">
                        <label><b>Phone Number</b></label>
                        <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" />
                        <span class="text-danger" id="PhoneNumberError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label><b>Password</b></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="Password" name="Password" />
                            <div class="input-group-append">
                                <span class="input-group-text" onclick="togglePasswordVisibility('Password', 'togglePasswordIcon1')">
                                    <i class="fa fa-eye" id="togglePasswordIcon1"></i>
                                </span>
                            </div>
                        </div>
                        <span class="text-danger" id="PasswordError"></span>
                    </div>
                    <div class="col-6">
                        <label><b>Confirm Password</b></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" />
                            <div class="input-group-append">
                                <span class="input-group-text" onclick="togglePasswordVisibility('ConfirmPassword', 'togglePasswordIcon2')">
                                    <i class="fa fa-eye" id="togglePasswordIcon2"></i>
                                </span>
                            </div>
                        </div>
                        <span class="text-danger" id="ConfirmPasswordError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label><b>Email</b></label>
                        <input type="email" class="form-control" id="Email" name="Email" />
                        <span class="text-danger" id="EmailError"></span>
                    </div>
                    <div class="col-6">
                        <label><b>Address</b></label>
                        <input type="text" class="form-control" id="Address" name="Address" />
                        <span class="text-danger" id="AddressError"></span>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <button type="button" class="btn btn-secondary w-25" onclick="registration()">Register</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function togglePasswordVisibility(inputId, iconId) {
            var inputElement = document.getElementById(inputId);
            var iconElement = document.getElementById(iconId);

            if (inputElement.type === "password") {
                inputElement.type = "text";
                iconElement.classList.remove("fa-eye");
                iconElement.classList.add("fa-eye-slash");
            } else {
                inputElement.type = "password";
                iconElement.classList.remove("fa-eye-slash");
                iconElement.classList.add("fa-eye");
            }
        }
    </script>

